<div>
    <div class="add-title">
        <h2 class="primary">Editar Usuario</h2>
    </div>
    <div>
        <form [formGroup]="addCusForm" (change)="formChanged()">
            <mat-grid-list cols="2" [cols]="breakpoint" rowHeight="85px" (window:resize)="onResize($event)">

                <!-- Nombre -->
                <mat-grid-tile>
                    <div class="text-inside">
                        <mat-form-field>
                            <input matInput placeholder="Nombre" formControlName="nombre" required>
                            <mat-error *ngIf="addCusForm.controls.nombre.hasError('required')">
                                Nombre de usuario obligatorio.
                            </mat-error>
                            <mat-error *ngIf="addCusForm.controls.nombre.hasError('minlength')">
                                Debe ser minimo de 4 caracteres.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <!-- Nombre -->

            </mat-grid-list>

            <div class="btn-sec">
                <button mat-raised-button type="submit" color="primary" class="Update-btn" (click)="updateCurso()">Actualizar</button>
                <button mat-raised-button type="button" class="Discard-btn" (click)="closeDialog()">Cancelar</button>
            </div>

        </form>
    </div>
</div>